<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="true"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
	strict="true"
	bootstrap="tests/bootstrap.php"
>
	<testsuites>
		<testsuite name="Cog">
			<directory>./tests/</directory>
		</testsuite>
		<testsuite name="Application">
			<directory>./tests/Application/</directory>
		</testsuite>
		<testsuite name="Bootstrap">
			<directory>./tests/Bootstrap/</directory>
		</testsuite>
		<testsuite name="Config">
			<directory>./tests/Config/</directory>
		</testsuite>
		<testsuite name="Console">
			<directory>./tests/Console/</directory>
		</testsuite>
		<testsuite name="Controller">
			<directory>./tests/Controller/</directory>
		</testsuite>
		<testsuite name="DB">
			<directory>./tests/DB/</directory>
		</testsuite>
		<testsuite name="Debug">
			<directory>./tests/Debug/</directory>
		</testsuite>
		<testsuite name="Event">
			<directory>./tests/Event/</directory>
		</testsuite>
		<testsuite name="Filesystem">
			<directory>./tests/Filesystem/</directory>
		</testsuite>
		<testsuite name="Form">
			<directory>./tests/Form/</directory>
		</testsuite>
		<testsuite name="Functions">
			<directory>./tests/Functions/</directory>
		</testsuite>
		<testsuite name="HTTP">
			<directory>./tests/HTTP/</directory>
		</testsuite>
		<testsuite name="Localisation">
			<directory>./tests/Localisation/</directory>
		</testsuite>
		<testsuite name="Module">
			<directory>./tests/Module/</directory>
		</testsuite>
		<testsuite name="Routing">
			<directory>./tests/Routing/</directory>
		</testsuite>
		<testsuite name="Serialization">
			<directory>./tests/Serialization/</directory>
		</testsuite>
		<testsuite name="Service">
			<directory>./tests/Service/</directory>
		</testsuite>
		<testsuite name="Templating">
			<directory>./tests/Templating/</directory>
		</testsuite>
		<testsuite name="Validation">
			<directory>./tests/Validation/</directory>
		</testsuite>
		<testsuite name="ValueObject">
			<directory>./tests/ValueObject/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>./src/Message</directory>
			<exclude>
				<directory>./vendor</directory>
				<directory>./tests</directory>
				<directory>./src/Form/Views</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<env name="COG_ENV" value="test" />
	</php>
</phpunit>