.syntaxhighlighter .toolbar {
	display: none !important;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #f1f1f1;
	font-family: Arial, sans-serif;
	color: #212121;
}

h1,
.container {
	padding: 20px 40px 0;
}

h1,
h2,
h3 {
	font-family: 'Proxima N W15 Bold', Arial, sans-serif;
}

hgroup h1 {
	padding: 30px 40px;
	margin-bottom: 10px;
	background: #c52e23;
	font-size: 3em;
	color: #f1f1f1;
	line-height: 1.3;
}

h2 {
	float: left;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-size: 1.9em;
}

p.status {
	float: right;
	font-family: 'Proxima N W15 Light', Arial, sans-serif;
	text-align: center;
	line-height: 1;
}

p.status strong {
	display: block;
	font-family: 'Proxima N W15 Bold', Arial, sans-serif;
	font-size: 5em;
}

ol.code {
	float: left;
	clear: left;
	width: 100%;
	list-style: none;
}

ol.code li {
	clear: left;
}

ol.code span.number {
	float: left;
	padding: 10px;
	background: #ececec;
	font-weight: bold;
}

ol.code pre {
	padding: 10px 0;
}

.trace {
	clear: both;
	list-style: none;
	padding-top: 20px;
}

.trace li {
	margin: 20px 0 20px;
	padding: 20px 0 0;
	border-top: 4px solid #e8e8e8;
}

.code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}